body {
    margin: 0px;
    width: 100%; height: 100%;
}

ul li {
    display: inline-block;
    padding: 0 10px 0 10px;   
}

ul {
    float:right;
}

.menu_link:hover {
    text-decoration: underline;
    color: rgb(68, 67, 67);

}

.menu_icon:hover {
    
    color:black;

}



.menu_icon {
    position: relative; top: 4px;

}

.connexion_button {
    background-color: #2196F3;
    color: #fff;
    border: solid .1px #2196F3;
    border-radius: 4px;
    font-weight: bold;

    padding: 10px;
    margin-right: 20px;
    
    
    
}

.logo img {
    width: 272px; height: 92px;
    max-width: 100%;
    width: 272px; height: 92px;
    
    position: absolute;
    top: 180px; left: 0px; right: 0px; 
    margin: auto;
    
}

input[type=text] {
    width: 584px; height: 44px;
    border: 1px solid #E0E0E0;
    border-radius: 100px;

    position: absolute;
    top: 305px; left: 0px; right: 0px; 
    margin: auto;
}

.button_2, .button_1 {
    position: absolute;
    margin: auto;
}

.button_1 {
    border: solid 1px #E0E0E0;
    background-color: #E0E0E0;
    color: rgb(68, 67, 67);
    border-radius: 4px;
    font-weight: bold;
    padding: 10px;
    top: 390px; left: 500px;
}

.button_2 {
    border: solid 1px #E0E0E0;
    background-color: #E0E0E0;
    border-radius: 4px;
    font-weight: bold;
    color: rgb(68, 67, 67);
    padding: 10px;
    top: 390px; right: 500px; 
}

.text {
    text-align: center;
    position: absolute;
    top: 450px; left: 0px; right: 0px; 
    margin: auto;
}

.text p a {
    text-decoration: none;
}
.text p a:hover {
    text-decoration: underline;
}

