* {
    padding-left: 0;
    margin-left: 0;
}

body {
    margin: 0px;
    width: 100%; height: 110%;
    font-size: 15px;
}

ul li {
    display: inline-block;
    padding: 0 10px 0 10px;   
}

ul {
    float:right;
}

.navbar li a {text-decoration:none; color: rgb(68, 67, 67);}

.navbar li a:hover {
    text-decoration: underline;

}

.menu_icon {position: relative; top: 4px;}

.connexion_button {
    background-color: #448AFF;
    color: #fff;
    border: solid .1px #448AFF;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;

    padding: 10px 15px;
    margin-right: 20px;    
}

.connexion_button:hover {box-shadow: 1px 2px 3px 1.5px rgba(211, 211, 211, 0.5) ;}

.logo img {
    width: 272px; height: 92px;
    max-width: 100%;
    width: 272px; height: 92px;
    
    position: absolute;
    top: 180px; left: 0px; right: 0px; 
    margin: auto;
    
}

input[type=text] {
    width: 584px; height: 44px;
    max-width: 100%;
    border: 1px solid #E0E0E0;
    box-shadow: 2px 3px 3px 1.5px rgba(211, 211, 211, 0.5) ;
    border-radius: 100px;
    outline: none;
    position: absolute;
    top: 295px; left: 0px; right: 0px; 
    margin: auto;
}

.search_buttons_box {
    position: relative;
    top: 354px; 
    width: 390px; height: 80px;
    /* background: red; */
    margin: auto;
    
}

.button_1, .button_2 {
    position: absolute; top: 30%;
    border: solid 1px #F5F5F5;
    background-color: #F5F5F5;
    color: rgb(129, 129, 129);
    font-size: 15px;
    border-radius: 2px;
    font-weight: bold;
    outline: none;
    padding: 10px 15px;
}

.button_1 {left: 7%;}
.button_2 {right: 7%;}

.button_1:hover, .button_2:hover {
    border: 1px solid rgb(209, 209, 209);
    background-color: rgb(247, 247, 247);
    box-shadow: 1px 2px 3px 1.5px rgba(211, 211, 211, 0.5) ;
    color: rgb(49, 49, 49);
}

/* .text {
    text-align: center;
    position: absolute;
    top: 450px; left: 0px; right: 0px; 
    margin: auto;
}

.text p a {
    text-decoration: none;
}
.text p a:hover {
    text-decoration: underline;
} */

.footer_wrapper_bis {
    background-color: #F5F5F5;
    width: 100%;
    height: 42px;
    border-top: solid .1px  rgb(224, 224, 224);

    position: absolute; bottom: 42px;

}

.footer_wrapper {
    background-color: #F5F5F5;
    width: 100%;
    height: 42px;
    border-top: solid .1px  rgb(224, 224, 224);

    position: absolute; bottom: 0px;
}

.footer_r .l_d li {
    display: inline-block;
    padding-right : 10px;
    color: rgb(82, 82, 82);
}

.footer_l .l_g li {
    color: rgb(82, 82, 82);
    
}

.footer_r .l_d {
    float: right;
}

.footer_l .l_g {
    float: left;
}

.footer_r {
    margin-right: 20px;
}

.footer_l {
    margin-left: 20px;
}

.footer_r .l_d a, .footer_l .l_g a {
    text-decoration: none;
    color: rgb(82, 82, 82); 
}
.footer_r .l_d li a:hover, .footer_l .l_g li a:hover  {
    text-decoration: underline;
}




