body {
    margin: 0px;
    width: 100%; height: 100%;
}

.logo img {
    width: 272px; height: 92px;
    max-width: 100%;
    width: 272px; height: 92px;
    
    position: absolute;
    top: 180px; left: 0px; right: 0px; 
    margin: auto;
    
}

input[type=text] {
    width: 584px; height: 44px;
    border: 1px solid black;
    border-radius: 100px;

    position: absolute;
    top: 305px; left: 0px; right: 0px; 
    margin: auto;
}

.button_2, .button_1 {
    position: absolute;
    margin: auto;
}

.button_1 {
    top: 405px; left: 500px;
}

.button_2 {
    top: 405px; right: 500px; 
}

.text {
    text-align: center;
    position: absolute;
    top: 450px; left: 0px; right: 0px; 
    margin: auto;
}

.text p a {
    text-decoration: none;
}
.text p a:hover {
    text-decoration: underline;
}

